{% extends "base/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}

    {% with comments.count as total_comments %}
    <h3>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h3>
    {% endwith %}

    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
    <h2>Your comment has been added.</h2>
    {% else %}
    <h2>Add a new comment</h2>
    <form method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<h2>work in progress</h2>
{% endblock %}